@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
/*###########################################*/
body {
    padding-top: 2em;
    background: url(symphony.png);
    font-family: 'Old Standard TT', serif, arial, verdana;
    font-size: 14pt;
}

.main-body {
    padding-top: 3em;
    margin-bottom: 3em;
    margin-top: 1em;
    background: white;
    box-shadow: 5px 1px 1px #888888;
}
.style-rw-1 {
    padding-bottom: 3em;
}
.style-rw-1 h2 {
    width: auto;
    letter-spacing: 8px;
}
.style-rw-1 h2 span {
    background: #2AABD2;
    color: white;
    width: 75px;
    font-size: 24pt;
    padding-left: 1em;
}

.style-page {
    font-size: 14pt;
    padding-left: 1.5em;
    padding-top: 1em;
    margin-bottom: 1em;
}

.style-page h3 {
    color: #2AABD2;
    text-decoration: underline;
}
.style-page h4 {
    color: #2AABD2;
    text-decoration: underline;
    font-weight: bold;
}
.style-page img {
    margin-bottom: 1em;
}

.style-resume b {
    color: #2AABD2;
}

.style-resume h4 {
    color: #080808;
    margin-bottom: 0;
    font-weight: bold;
}

.style-resume small {
    color: #2AABD2;
    font-size: 11pt;
}

.style-resume ul {
    margin-bottom: 1.5em;
}
.main-header {
    background: #1d7792 url(pattern1.jpg);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: 0px 0px 15px black;
}
.main-header h1 {
    font-size: 35pt;
    letter-spacing: 5px;
    color: white;
    text-shadow: 2px 2px gray;
    width: auto;
    /*height: 100px;*/
    margin-bottom: .5em;
}
.main-header h3, .main-header h4 {
    color: white;
    text-shadow: 2px 2px gray;
}


#dtime, #clock {
    color: black;
}

#halfOne {
    color: white;
    font-weight: bolder;
}
#halfTwo {
    font-variant: normal;
    font-weight:lighter;
    color: white;
}
#subHeader {
}

.tech {
    border-left: 1px solid #286090;
}
.tech a {
    display: inline;
    margin-right: 1.5em;
    margin-bottom: .5em;
}
.spacer {
    border: 1px #286090 outset;
    width: 960px;
    box-shadow: 2px 2px 2px #286090;
    opacity: .5;
}
.footer {
    margin-bottom: 0.5em;
    padding-top: 1em;
    font-size: 12pt;
    color: black;
    opacity: 0.6;
}

#octocat {
    margin-top: 2em;
    margin: 0 auto;
}
#bitbucket {
    width: 75px;
    height: 75px;
    margin-top: 2em;
    margin: 0 auto;
}

.list-social ul{
    margin-top:1.5em;
    
    height:100px;
    display:block;
    
}

.list-social ul li{
    list-style:none;
    float:left;
    margin-right:3.5em;
    
}

/*Nav bar custom*/
.custom-nav {

    border-bottom: solid 1px #2AABD2;
}

.navbar-default .custom-brand {
    color: #2AABD2;
    font-weight: bold;
    background-color: transparent;
}

.navbar-default .navbar-brand:hover {
    color: #265A88;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #2AABD2;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2AABD2;
    background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #2AABD2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    border: solid thin #2AABD2;
    color: black;
    background-color: transparent;
}

/*Mini game
 * 
 */

.wrappedElement{
 
    background-color:white; 
     width:90%;
     margin: 0 auto;
     padding-left:1.5em;
     
}
.wrappedElement img{
    width:150px;
    height:150px;
    border:1px solid orange;
    margin:0 auto;
}


#controls{
    padding-top:1em;
    width:80%;
    margin: 0 auto;
    margin-bottom:1em;
}
#controls button{
    background:orange;
    border: solid 1px;
 
}
 #controls button:hover{
     background:gray;
      border: solid 1px;
 }

